@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@keyframes progress-boutique {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-progress-boutique {
  animation: progress-boutique 3s ease-in-out infinite;
}
